body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007cc2;
  color: #fff;
  text-align: center;
  padding: 10px;
}
main {
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
}
h2:first-of-type {
  background-color: red;
  color: white;
}
h2 {
  color: #fff;
  background-color: #007cc2;
  padding-bottom: 5px;
}
b{
  color: royalblue;
}
i{
  color: rgb(252, 1, 1);
  text-decoration: underline;
}
img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
li {
  margin-bottom: 8px;
}
#inline p{
  display: inline; 
}

#inline p::after{
    content: ", ";
}
#inline p:last-child::after{
    content: "";
}